.DS_Store
*~
#*#

*.rbc
capybara-*.html
.rspec
log/
!/log/.keep
tmp/
db/*.sqlite3
db/*.sqlite3-journal
public/system
public/assets/
coverage/
spec/tmp
**.orig
rerun.txt
pickle-email-*.html
public/snap_logo_sm.png

config/initializers/secret_token.rb
config/secrets.yml

## Environment normalization:
/.bundle
/vendor/bundle

# Assets
/public/packs
/node_modules
# npm lock file we wont use.
package-lock.json

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
