<table class="pure-table">
    <thead>
        <tr>
            <th>Navigation</th>
        </tr>
    </thead>

    <tbody>
        <tr> <td><a href="/"> Home </td></a></tr>
    	<tr> <td><a href= <%='/users/'+ current_user.id.to_s%> > Profile </td></a></tr>
    	<tr> <td><a href="/projects"> Projects </td></a></td></tr>
    	<tr> <td><a href="/courses"> Courses </td></a></tr>
    </tbody>
</table>
