<table class="pure-table">
    <thead>
        <tr>
            <th>Navigation</th>
        </tr>
    </thead>

    <tbody>
        <tr> <td><a href="/"> Home </td></a></tr>
    	<tr> <td><a href= <%='/users/'+ @user.id.to_s%> > Profile </td></a></tr>
    	<tr> <td><a href="lol_nothing"> Projects </td></a></td></tr>
    	<tr> <td><a href="lol_nothing"> Courses </td></a></tr>
    	<tr> <td><a href="lol_nothing"> Assignments </td></a></td></tr>
        <tr> <td><a href="lol_nothing"> (Announcements) </td></a></td></tr>
    	<tr> <td><a href="lol_nothing"> (Collaborators) </td></a></td></tr>
    </tbody>
</table>
