<table class="pure-table">
    <thead>
        <tr>
            <th>Navigation</th>
        </tr>
    </thead>

    <tbody>
      <tr>
        <td><a href="/"> Home</a></td>
      </tr>
      <tr>
        <td><a href= "<%='/users/'+ current_user.id.to_s %>"> Profile</a></td>
      </tr>
      <tr>
        <td><a href="/projects">Projects</a></td>
      </tr>
      <tr>
        <td><a href="/courses">Courses</a></td>
      </tr>
    </tbody>
</table>
