<% content_for :head do %>
    <%= stylesheet_link_tag "about" %>
<% end %>

<div class="pure-u-1-1">
  <div class="content pages-content">
      <h2 class="pages-header">About</h2>
      <p><span class="snap">snap</span> (formerly BYOB) is a visual,
        drag-and-drop programming language. It is an extended reimplementation
        of Scratch (a project of the
        <a href="https://llk.media.mit.edu/">Lifelong Kindergarten Group</a> at
        the <a href="https://media.mit.edu/">MIT Media Lab</a>) that allows you
        to Build Your Own Blocks. It also features first class lists, first
        class procedures, and continuations. These added capabilities make it
        suitable for a serious introduction to computer science for high school
        or college students.

      <span class="snap">snap</span> runs in your browser. It is implemented using Javascript, which is designed to limit the ability of browser-based software to affect your computer, so it's safe to run even other people's projects, even if you don't trust our competence or good intentions.

      <span class="snap">snap</span> is presented by the University of California at Berkeley. It was developed by Jens Mönig at MioSoft Corporation (now at SAP), with design input and documentation by Brian Harvey at UC Berkeley, and contributions by students at Berkeley and elsewhere.

      This material is based partly upon work supported by the National Science Foundation under Grant No. 1138596. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>
  </div>
</div>