<% content_for :head do %>
    <%= stylesheet_link_tag "about" %>
<% end %>

<div class="pure-u-1-1">
  <div class="content pages-content">
    <h2 class="pages-header">Get Started</h2>
    <h3>Need help?</h3>
    <p>Read the <a href="http://snap.berkeley.edu/SnapManual.pdf">Reference Manual</a>.</p>
    <h3>Found a bug?</h3>
    <p><a href="https://github.com/jmoenig/Snap--Build-Your-Own-Blocks/issues">Report it</a> at our Github repository.</p>
    <h3>Looking for BYOB3?</h3>
    <p>Download it <a href="http://snap.berkeley.edu/old-byob.html">here</a>.</p>
    <h3>Use devices with Snap<i>!</i>:</h3>
    <ul>
      <li>Orbotix <a href="https://docs.google.com/document/d/11wR53OTnofRtTtxZCmxnCUjIlFQjnGewM21A0vmjtFw/edit?usp=sharing">Sphero</a> guide by Connor Hudson and Dan Garcia</li>
      <li>Lego <a href="http://github.com/technoboy10/snap-nxt">NXT</a> package by Connor Hudson</li>
      <li>Nintendo <a href="http://github.com/technoboy10/wiisnap">Wiimote</a> package by Connor Hudson</li>
      <li><a href="http://www.hummingbirdkit.com/learning/software/snap">Finch and Hummingbird</a> robots package by Tom Lauwers</li>
      <li>Parallax <a href="http://github.com/blockext/s2">S2</a> robot package by Connor Hudson</li>
      <li><a href="http://github.com/technoboy10/snapmotion">LEAP Motion</a> by Connor Hudson</li>
      <li><a href="http://github.com/technoboy10/snap2speech">Speech synthesis</a> by Connor Hudson</li>
      <li><a href="https://github.com/MrYsLab/s2a_fm">Arduino</a> package by Alan Yorinks</li>
      <li><a href="http://s4a.cat/snap/">Arduino</a> package by Bernat Romagosa/Citilab</li>
    </ul>
    <h3>Examples:</h3>
    <h4>New!</h4>
    <ul>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/live-tree.xml">Live Tree</a> by Bill Manaris</li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/threads.xml">Thread Demo</a> using call&frasl;cc</li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/fractal_fruit_tree.xml">Fractal Fruit Tree</a> by Josh Paley</li>
    </ul>
    <h4>Converted from BYOB3 projects:</h4>
    <ul>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=vee">Vee</a></li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/Double%20Jurassic%20Park.xml">Double Jurassic Park</a></li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/math%20trainer.xml">Math Trainer</a></li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=Tree">Tree</a></li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=animal-game">Animal Game</a></li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=count-change">Count Change</a></li>
    </ul>
    <h4>Converted from Scratch projects:</h4>
    <ul>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/star%20wars.xml">Star Wars Game</a></li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/funny%20face.xml">Funny Face</a></li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/splotch%20paint.xml">Paint With Splotches</a></li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/kanon.xml">Kanon</a></li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/flashlight.xml">Flashlight</a></li>
      <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:demo/constraint.xml">Constraint</a></li>
    </ul>
  <p style="float: center; margin-top: 50px;">Teachers, check out the <a href="http://bjc.berkeley.edu/">Beauty and Joy of Computing</a>, an AP CS: Principles course using Snap<em>!</em>.</p>
  </div>
</div>