<% content_for :head do %>
  <%= stylesheet_link_tag "marketing", "pages", "splash" %>
<% end %>

<div class="splash-container">
  <div class="splash">
    <div class="pure-g landing-container">
      <div class="pure-u-1-2">
        <%= image_tag "snapshot@2x.png", id: "splash-photo" %>
      </div>
      <div class="pure-u-1-2">
        <h2>
          Welcome to <span class="snap">snap</span>
        </h2>
        <h3 id="welcome-text">
          <span class="snap">snap</span> is a visual, drag-and-drop programming language presented by the University of California, Berkeley. Learn computer science concepts in a comfortable graphical environment (pictured left). Follow the "Get Started" link above to learn more or click the button below to launch the app.
        </h3>
        <h2>
          <a href="/snap/" id="run-snap">Run <%= image_tag "snap-logo.png", alt: "snap! logo", class: "run-snap-logo" %> Now</a>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper">

    <div class="ribbon l-box-lrg pure-g">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
            <h2 class="content-head content-head-ribbon">Featured Projects</h2>
            <%= render 'projects/projectlist', :locals => {:projects => @projects} %>
        </div>
    </div>

    <div class="content">

        <div class="pure-g">
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <h3 class="content-subhead">Privacy Notice</h3>
            <p>
              For research purposes, this site uses Google Analytics to collect
              aggregate information about, e.g., how often the site is used and what
              links are followed from it. We do not collect personally identifiable
              information, but if you have a Gmail account or have ever Googled
              yourself from your own computer, then, despite their assurances to the
              contrary,
              <b>Google does collect such information.</b>
	      We recommend that you use
	      <a href="http://adblockplus.org/">AdBlock Plus</a>,
	      <a href="http://ghostery.com/">Ghostery</a>,
	      <a href="http://noscript.org/">NoScript</a>, and/or
	      <a href="http://privoxy.org/">Privoxy</a>
	      to protect your browsing privacy. The first two are really easy to
	      install and use; the last two take a bit more effort to whitelist sites
	      you trust. (You might also consider the tracking-free
	      <a href="http://duckduckgo.com/">DuckDuckGo</a>
	      search engine.)
	    </p>
	    <p>
	      See our complete privacy policy <a href="http://snap.berkeley.edu/privacy.html">here</a>.
	    </p>
          </div>
        </div>
    </div>

    <div class="footer l-box is-center" style="letter-spacing:1px;">
      University of California, Berkeley
    </div>

</div>
