<!-- This is going to be a partial which shows an icon of the project,
the title, and the author. -->

<div class="pure-u-1-4">
  <img src="<%= project.thumbnail %>" />
  <br>
  <strong>
    <a href="/projects/<%= project.id %>"><%= project.title %></a>
  </strong>
  <br>
  <span class="project-date"><%= project.updated_at %></span>
</div>

