.pure-u-1-3
.pure-u-1-3
  %h1 All <span class="snap">snap</span> Courses
  %br
  -if flash[:message]
    %h3= flash[:message]

  -@courses.each do |course|
    =link_to course.title, course_show_path(course)
    %br
.pure-u-1-3