%br
%br
%h1 Create a course

=form_tag course_create_path, method: :post do
    -if @course  #incase the user already submitted, course.new was used, but the course is invalid
        %label{for: "title"} Title:
        =text_field_tag 'title', @course.title
        %br
        %label{for: "description"} Description:
        =text_field_tag 'description', @course.description
        %br
        %label{for: "website"} Website:
        =text_field_tag 'website', @course.website
        %br
        %label{for: "startdate"} Starts:
        =date_select :course, :startdate, default: @course.startdate
        %br
        %label{for: "enddate"} Ends:
        =date_select :course, :enddate, default: @course.enddate
        %br
        =submit_tag "Create"
    -else
        %label{for: "title"} Title:
        =text_field_tag 'title'
        %br
        %label{for: "description"} Description:
        =text_field_tag 'description'
        %br
        %label{for: "website"} Website:
        =text_field_tag 'website'
        %br
        %label{for: "startdate"} Starts:
        =date_select :course, :startdate
        %br
        %label{for: "enddate"} Ends:
        =date_select :course, :enddate
        %br
        =submit_tag "Create"
