 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*
  *= require pure/pure-min
  *= require pure/grids-responsive-min
  *= require icono/dist/icono.min
  *= require main
  *= require marketing
  *= require_tree ./pure-custom
  *= require_self
*/

label .left {
  text-align: left;
}

.content {
  padding: 1em 0 0;
}

/**** SPECIAL CONTENT CLASSES ***/
/* .snap inserts the logo using the proper formatting.
* Insert using "<span class="snap">snap</span>"
*/
.snap:first-letter {
  font-variant: normal;
}

.snap {
  text-transform: capitalize;
  font-variant: small-caps;
  font-style: normal;
}

.snap:after {
  content: "!";
  font-style: italic;
}
/* END .snap */
