/* Main Application CSS.
   This is expected to be loaded on every page.
  
  This comment should contain notes and attributions as appropriate.
  Footer basics:
    http://mystrd.at/modern-clean-css-sticky-footer/
*/

html {
  position: relative;
  min-height: 100%;
  /*max-width: 1680px;
  margin: 0 auto;*/
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 12pt;
    margin: 55px 0 0 0; /* Margins for header. */
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #111;
  padding: 1em;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
/*html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
}*/



.run-snap-logo {
  width: 50px;
  height: 30px;
  vertical-align: middle;
}

select.select-date {
  float: left;
  margin: .3em ; /* allow left align */
}

/* nav bar search button / icon. */
button.button-search {
  border-radius: 2em;
  padding: 0.5em;
  min-width: 1em;
  min-height: 1em;
  max-width: 2em;
  max-height: 2em;
}

@media (min-width: 48em) {
  /* We want to give the content area some more padding */
  .content {
    padding: 1em;
  }
}

