.profile-wrapper {
    padding: 20px;
}

.edit-content {
}

.profile-content {
    min-height: 100px;
}

.profile-content-text {
    color: #7f8c8d;
    text-align: left;
    text-transform: none;
}

#about {
    margin:0;
}
