div + div { margin-bottom: 10px; }

div.project-title{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: black;
	color: white;
}

div.centered-label-darkgray{
	background: darkgray;
	width: 70%;
    height: 50%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
}

.fill-parent{
	width: 100%;
	height: 100%;
}