div.project-title{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: black;
	color: white;
}

div.centered-label-darkgray{
	background: darkgray;
	width: 70%;
    height: 40%;
    margin: auto;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    top: -50%;
}

.fill-parent{
	width: 100%;
	height: 100%;
}

.bottom-margin-med{
	margin-bottom: 5em;
}

div.center-text{
	text-align: center;
	vertical-align: middle;
}

.center-element{
	margin: auto;
	padding: 10px;
	position: relative;
	text-align: center;
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

div.image-with-border {
	border-radius: 25px;
	border: 2px solid #8AC007;
	padding: 20px;
}

div.overlay-top {
	z-index: 10;
}