#run-snap {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px;
    background: #2d3e50;
}

#splash-photo {
    position: absolute;
    display: block;
    top: 50%;
    left: 25%;
    width: inherit;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.landing-container {
    width: 100%;
    height: 100%;
}

#welcome-text {
    color: #7f8c8d;
    text-align: left;
    margin: 20px;
    text-transform: none;
}
