/*
Responsive Scrolling Menu
Pure Template from: http://purecss.io/layouts/tucked-menu-vertical/
*/

/* We can align the menu header to the left, but float the
menu items to the right. */
.pure-menu {
  text-align: left;
}

.main-menu {
  width: 100%;
  background: #003262;
  padding: .3em .6em;
  margin: 0 0 10px 0;
  box-shadow: 0 5px 10px #CCC;
}

.pure-menu-link {
  background: none;
  border: none;
  color: #6FBEF3;
}

.pure-menu-link:hover {
  background: none;
  border: none;
  color: #AECFE5;
}

.custom-wrapper {
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
  height: 2.75em;
}

/* TODO: Overflow-y scroll */
.custom-wrapper.open {
  height: 20em;
}

.custom-menu-3 {
  text-align: right;
}

/* TODO: MAKE LEFT LIST OF HEADER CENTERED */
ul.pure-menu-list {
  margin: auto;
  top: 50%;
  vertical-align: middle;
}

.custom-toggle {
  display: none;
}


@media (max-width: 47.999em) {
  .custom-menu-3 {
    text-align: left;
  }

  .custom-toggle {
    width: 43px;
    height: 43px;
    display: block;
    position: absolute;
    margin: 4px;
    border: 1px solid #CCC;
    border-radius: 6px;
    top: 0;
    right: 25px;
  }

  .custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    top: 22px;
    right: 12.5px;
  }

  .custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  .custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

}