/* These are utility additions to the Pure library.
*/

/*
PART 1: Pure visible and hidden classes.

Blissfully stolen from: https://github.com/yahoo/pure/issues/326
TODO: Be a good person and commit to:
https://github.com/yahoo/rework-pure-grids
*/
/* pure-hidden-xs */
@media screen and (max-width:35.438em) {
    .pure-visible-sm { display:none !important }
    .pure-visible-md { display:none !important }
    .pure-visible-lg { display:none !important }
    .pure-visible-xl { display:none !important }
    .pure-hidden-xs  { display:none !important }
    .pure-visible-xs { display:inherit !important }
}
/* pure-hidden-sm */
@media screen and (min-width:35.5em) and (max-width:47.938em) {
    .pure-visible-xs { display:none !important }
    .pure-visible-md { display:none !important }
    .pure-visible-lg { display:none !important }
    .pure-visible-xl { display:none !important }
    .pure-hidden-sm  { display:none !important }
    .pure-visible-sm { display:inherit !important }
}
/* pure-hidden-md */
@media screen and (min-width:48em) and (max-width:63.938em) {
    .pure-visible-xs { display:none !important }
    .pure-visible-sm { display:none !important }
    .pure-visible-lg { display:none !important }
    .pure-visible-xl { display:none !important }
    .pure-hidden-md  { display:none !important }
    .pure-visible-md { display:inherit !important }
}
/* pure-hidden-lg */
@media screen and (min-width:64em) and (max-width:79.938em) {
    .pure-visible-xs { display:none !important }
    .pure-visible-sm { display:none !important }
    .pure-visible-md { display:none !important }
    .pure-visible-xl { display:none !important }
    .pure-hidden-lg  { display:none !important }
    .pure-visible-lg { display:inherit !important }
}
/* pure-hidden-xl */
@media screen and (min-width:80em) {
    .pure-visible-xs { display:none !important }
    .pure-visible-sm { display:none !important }
    .pure-visible-md { display:none !important }
    .pure-visible-lg { display:none !important }
    .pure-hidden-xl  { display:none !important }
    .pure-visible-xl { display:inherit !important }
}


/*
PART 2: Micro ClearFix, same one used in bootstrap:
  http://nicolasgallagher.com/micro-clearfix-hack/
*/
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}