/* These are utility additions to the Pure library.
*/

/*
PART 1: Pure visible and hidden classes.

Blissfully stolen from: https://github.com/yahoo/pure/issues/326
TODO: Be a good person and commit to:
https://github.com/yahoo/rework-pure-grids
*/
/* pure-hidden-xs */
@media screen and (max-width:35.438em) {
    .pure-g [class *= "pure-u"] .pure-visible-sm { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-md { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-lg { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-xl { display:none }
    .pure-g [class *= "pure-u"] .pure-hidden-xs  { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-xs {  }
}
/* pure-hidden-sm */
@media screen and (min-width:35.5em) and (max-width:47.938em) {
    .pure-g [class *= "pure-u"] .pure-visible-xs { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-md { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-lg { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-xl { display:none }
    .pure-g [class *= "pure-u"] .pure-hidden-sm  { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-sm {  }
}
/* pure-hidden-md */
@media screen and (min-width:48em) and (max-width:63.938em) {
    .pure-g [class *= "pure-u"] .pure-visible-xs { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-sm { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-lg { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-xl { display:none }
    .pure-g [class *= "pure-u"] .pure-hidden-md  { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-md {  }
}
/* pure-hidden-lg */
@media screen and (min-width:64em) and (max-width:79.938em) {
    .pure-g [class *= "pure-u"] .pure-visible-xs { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-sm { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-md { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-xl { display:none }
    .pure-g [class *= "pure-u"] .pure-hidden-lg  { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-lg {  }
}
/* pure-hidden-xl */
@media screen and (min-width:80em) {
    .pure-g [class *= "pure-u"] .pure-visible-xs { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-sm { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-md { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-lg { display:none }
    .pure-g [class *= "pure-u"] .pure-hidden-xl  { display:none }
    .pure-g [class *= "pure-u"] .pure-visible-xl {  }
}


/*
PART 2: Micro ClearFix, same one used in bootstrap:
  http://nicolasgallagher.com/micro-clearfix-hack/
*/
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
